streamlit
python-dotenv
langchain-text-splitters
langchain-chroma
langchain-groq
langchain-huggingface
langchain-core
langchain-classic
chromadb
sentence-transformers
beautifulsoup4
requests
lxml
torch
torchvision